.container {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  background-color: blue;
}

.gnb {
  a {
    display: flex;
    font-size: 40px;
    margin: 20px 0;
    color: #fff;
    transition: 0.5s;
  }

  a::before {
    content: ">";
    opacity: 0;
  }
}

// 순서가 중요함 (덮어쓰기 때문에)

.gnb:hover a {
  opacity: 0.3;
}

.gnb a:hover {
  opacity: 1;
}

.gnb a:hover:before {
  opacity: 1;
}
